body {
    margin: 0 auto;
}

.container {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/RolandTR-909-front.jpg/640px-RolandTR-909-front.jpg');
    background-size: auto;
}

.buttons {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/RolandTR-909-front.jpg/640px-RolandTR-909-front.jpg');
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    padding: 20px;
    border: 2px solid black;
    background: #E8E0CA;
    margin: 5px;
    width: 60px;
    text-align: center;

}
    
kbd {
    font-size: 20px;
    display: block;
}

.play {
    background: #605F7D;
    border-color: white;
    color: white;
    transition: 0.1s;
    transform: scale(1.1);
}

