.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url('https://lh3.googleusercontent.com/proxy/jMkJyXyA3xiyaQI-nk_vTYfViiLGeDJvQGiJQzYLqbdZBOqeHYiaUtOu32yVyPAJpaTs_NiZp7gQz4qg8XKIiofbQy9e2s4VxOgSCddMCVS48dFrTX9SrQzTvbpuFKdiJ2QVI5TD');
    /* object-fit: fill; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;

}

.key {
    padding: 20px;
    border: 2px solid black;
    background: white;
    margin: 5px;
    display: block;
}

.play {
    background: black;
    color: white;
}

